<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="/public/style.css">
        {% if messages %}
	<meta http-equiv="refresh" content="0.8 ; url=/login">
{% endif %}
	</head>
	<body>
         <!-- notification-->
        <div   class="al"  {% if messages %}
             style="display: block"
             {% endif %}
             
             
             >
	
			{{messages}}	
			
	</div >
         <!-- Fin notification-->
        
        
        <!-- Formulaire de connexion -->
		<div class="loginBox">
			<img src="/public/user.png" class="user">
			<h2>Connexion</h2>
			<form method="post" action="/">
				<p>Login</p>
				<input type="text" name="log" placeholder="Login" required autocomplete="off">
				<p>Password</p>
				<input type="password" name="mot_de_passe" placeholder="••••••" required >
				<input type="submit" name="" value="Connexion">
				<a href="/signin"><h3>Nouveau compte</h3></a>
			</form>
			 {% if message %}
			<p> {{message}}</p>
			{% endif %}
		</div>
         <!-- Fin Formulaire de connexion -->
        
	</body>
</html>
