<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Calendrier</title>
		<link rel="stylesheet" href="/public/style.css">
        
        {% if message %}
	<meta http-equiv="refresh" content="0.8 ; url=/">
{% endif %}
	
	</head>
	<body>
	
        <!-- Les boutton -->
	
		<div class="submit">
			<form  method="get" action="/login">
			<input id="connexion" type="submit" name="" value="Connexion" >
				
			</form>
		</div>
        
        <div >
			<form  method="post" action="/liste">
                
			<input id="liste" type="submit" name=""  value="Mes evenements" >
				
			</form>
		</div>
        
        <div >
			<form  method="post" action="/nouveau_admin">
               
			<input id="nvadmin" type="submit" name=""  value="Nouveau Admin" >
				
			</form>
		</div>
        
        <div >
			<form  method="post" action="/listetout">
               
			<input id="toutliste" type="submit" name=""  value="Les evenements" >
				
			</form>
		</div>
		
		<div id="deconnexion" class="submit">
			<form  method="get" action="/logout">
			<input type="submit" name="" value="Deconnexion" >
				
			</form>
		</div>
        
        <div id='bout'>
  
  <button id='prev'>prev</button> 
  
  <button  id="next" >next</button>

</div>
        <!-- Fin des boutton -->
        
        
        <!-- Info user -->
		<form  >
			<input type="text" id="user" name="user" value="{{users.login}}" hidden >
            <input type="text" name="typ" id="typ" value="{{users.type}}" hidden>
			</form>
        <!-- Fin Info user -->
		
	
         <!-- Les notification -->
        <div  id="alert" class="al">
	
			 Veilliez Vous Connectez	
			
	</div>
		
 <div   class="al"  {% if message %}
             style="display: block"
             {% endif %}
             
             
             >
	
			{{message}}	
			
	</div >
         <!-- Fin des notification -->

	<div id='dete'></div>
        <div id='today'></div>
		
        
        <!--calendrier-->
		
		<div id="calendar" ></div>
		
		
        
        
		
		
 <!-- Les modal -->
        
        <!--  modal ajouter evenement -->
	<div  id="myModal" class="modal" 
         
         class="al"  {% if messages %}
             style="display: block"
             {% endif %}
         
         >
	<form name="evenn" method="post" action="/ajoute" >
				<h2> {{users.login | upper}} </h2>
				<input  id="createur" name="log" value="{{users.login}}" hidden>
				
				<h2>Entrer un evenement</h2>
				<TEXTAREA name="titre" style="width:205px;height : 95px;"> </TEXTAREA>
				<p>Date</p>
				<input type="date" id="data" name="date" >
				<p>Heure Debut   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Heure Fin</p>
				&nbsp;&nbsp;&nbsp;
				<input type="time" id="datedeb" name="datedeb" style="width:68px"  >
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="time" id="datefin" name="datefin" style="width:68px" >
				<input type="submit"  id="ok" value="enregistre">
				
			</form>
        
        
	</div>
        
      <!-- Fin  modal ajouter evenement -->
        
         <!--  modal modifier evenement -->
        <div  id="Modalupdate" class="modal">
	<form name="evenn" method="post" action="/update" >
				<h2> {{users.login | upper}} </h2>
				<input  id="createur" name="log" value="{{users.login}}" hidden>
				<input  id="id" name="id"  hidden>
				<h2>Modifier un evenement</h2>
				<TEXTAREA id="titre" name="titre" style="width:205px;height : 95px;"> </TEXTAREA>
				<p>Date</p>
				<input type="date" id="datta" name="date" disabled="disabled" >
				<p>Heure Debut   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Heure Fin</p>
				&nbsp;&nbsp;&nbsp;
				<input type="time" id="dattedeb" name="datedeb" style="width:68px"  >
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="time" id="dattefin" name="datefin" style="width:68px"  >
				<input type="submit"  id="ok" name="sub" value="Modifier">
                <input type="boutton"  id="sup" name="sub" value="Supprimer" onclick="sup_even()">
				
			</form>
           
	</div>
         <!--  Fin modal modifier evenement -->
        
         <!--  modal supprimer evenement -->
        <div  id="Modalsup" class="modal">
	<form name="evenn" method="post" action="/delete" >
				<h2> {{users.login | upper}} </h2>
				<input  id="createur" name="log" value="{{users.login}}" hidden>
				<input  id="idd" name="id"  hidden>
				<h2>Voulez vous vraiment supprimer</h2>
				<TEXTAREA id="ttitre" name="titre" style="width:205px;height : 95px;" disabled="disabled"> </TEXTAREA>
				<p>Date</p>
				<input type="date" id="dattta" name="date" disabled="disabled">
				<p>Heure Debut   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Heure Fin</p>
				&nbsp;&nbsp;&nbsp;
				<input type="time" id="datttedeb" name="datedeb" style="width:68px"  disabled="disabled">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="time" id="datttefin" name="datefin" style="width:68px" disabled="disabled">
				
                <input type="submit"  id="sup"  value="Supprimer">
				
			</form>
	</div>
         <!-- Fin modal supprimer evenement -->
        
        
         <!--  Tableau cache qui recupere les donnees de la base de donnees -->
        <div id='table' hidden>
  
        
       <table id="eventi" >
    <tr>
      <th>Id</th>
      <th>Titre</th>
      <th>Createur</th>
      <th>Date debut</th>
      <th>Heure deb</th>
      <th>Heure fin</th>
    </tr>
       {% for event in evenn %}
        <tr>
        <td>{{event.id}}</td>
        <td >{{event.titre}}</td>
        <td >{{event.user}}</td>
        <td >{{event.date}}</td>
        <td >{{event.heure_deb}}</td>
        <td >{{event.heure_fin}}</td>
        
        </tr>
        {% endfor %}
    
  
    </table>  
        

</div>	
         <!--  Fin du tableau caché -->
	
			<script type="text/javascript" src="/public/script.js"></script>
            
	</body>
</html>
