<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Liste</title>
		<link rel="stylesheet" href="/public/style.css">
        {% if message %}
	<meta http-equiv="refresh" content="0.8 ; url=/liste">
{% endif %}
	</head>
	<body>
        
        <!-- boutton -->
        <div id="deconnexio" class="submit">
			<form  method="get" action="/logout">
			<input type="submit" name="" value="Deconnexion" >
				
			</form>
		</div>
        
        <div >
			<form  method="get" action="/">
                
			<input id="calend"  type="submit" name=""  value="Mon Calendrier" >
                
				
			</form>
		</div>
        <!-- Fin boutton -->
        
        
        
          
        
         <!-- notification -->
        <div   class="al"  {% if message %}
             style="display: block"
             {% endif %}
             
             
             >
	
			{{message}}	
			
	</div >
         <!-- Fin notification -->
        
        
        <div id="enemm">
		<center><h1>Evenements</h1></center>
		</div>
        
        <!-- Tableau d'evenement -->    
        <div id="listeev">
       <table id="tabeven" >
    <tr>
       <th hidden>Id</th> 
       <th >User</th>
      <th>Titre</th>
     
      <th>Date debut</th>
      <th>Heure deb</th>
      <th>Heure fin</th>
         <th hidden>ligne</th>
      <th hidden>colonne</th>
        <th>Mise à jour</th>
       
    </tr>
       {% for event in evenn %}
        <tr>
            <td hidden>{{event.id}}</td>
        <td>{{event.user}}</td>
        <td >{{event.titre}}</td>
       
        <td >{{event.date}}</td>
        <td >{{event.heure_deb}}</td>
        <td >{{event.heure_fin}}</td>
             <td hidden>{{event.ligne}}</td>
        <td hidden>{{event.colonne}}</td>
        <td > <img  src="/public/crayon.jpg" class="maj" onclick="modifie({{event.id}})"><img src="/public/supprimer.jpg" class="maj" onclick="sup({{event.id}})">   </td>
       
      
        </tr>
        {% endfor %}
    
  
    </table> 
        </div>
        <!-- Fin Tableau d'evenement -->
        
        <!--Modal modification -->
         <div  id="Modalup" class="modal">
	<form name="evenn" method="post" action="/updatee" >
				<h2> {{users.login | upper}} </h2>
				<input  id="createur" name="log" value="{{users.login}}" hidden>
				<input  id="idev" name="id"  hidden>
               <input  id="lignev" name="lign"  hidden>
               <input  id="colev" name="col"  hidden>
				<h2>Modifier un evenement</h2>
				<TEXTAREA id="titreev" name="titre" style="width:205px;height : 95px;"> </TEXTAREA>
				<p>Date</p>
				<input type="date" id="dateev" name="date" disabled="disabled">
				<p>Heure Debut   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Heure Fin</p>
				&nbsp;&nbsp;&nbsp;
				<input type="time" id="datedebev" name="datedeb" style="width:68px"  >
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="time" id="datefinev" name="datefin" style="width:68px" >
				<input type="submit"  id="ok" name="sub" value="Modifier">
               
				
			</form>
	</div>
        <!--Fin Modal modification -->
        
        
        <!--Modal suppression -->
        <div  id="Modalsp" class="modal">
	<form name="evenn" method="post" action="/deletee" >
				<h2> {{users.login | upper}} </h2>
				<input  id="createur" name="log"  hidden>
				<input  id="idsp" name="id"  hidden>
               <input  id="lignsp" name="lign"  hidden>
               <input  id="ccolsp" name="col"  hidden>
				<h2>Voulez vous vraiment supprimer</h2>
				<TEXTAREA id="titresp" name="titre" style="width:205px;height : 95px;" disabled="disabled"> </TEXTAREA>
				<p>Date</p>
				<input type="date" id="datesp" name="date" disabled="disabled">
				<p>Heure Debut   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Heure Fin</p>
				&nbsp;&nbsp;&nbsp;
				<input type="time" id="datedebsp" name="datedeb" style="width:68px"  disabled="disabled">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="time" id="datefinsp" name="datefin" style="width:68px" disabled="disabled">
				
                <input type="submit"  id="sup"  value="Supprimer">
				
			</form>
	</div>
        <!--Fin Modal suppression -->
        
        <script type="text/javascript" src="/public/script1.js"></script>
	</body>
</html>
