<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Utilisateur</title>
		<link rel="stylesheet" href="/public/style.css">
        {% if message %}
	<meta http-equiv="refresh" content="0.8 ; url=/user">
{% endif %}
	</head>
	<body>
        
        
        <!-- boutton -->
        <div id="deconnexio" class="submit">
			<form  method="get" action="/logout">
			<input type="submit" name="" value="Deconnexion" >
				
			</form>
		</div>
        <div id="enemm">
		<center><h1>Utilisateur</h1></center>
		</div>
        
         <div >
			<form  method="get" action="/">
                
			<input id="calend"  type="submit" name=""  value="Mon Calendrier" >
                
				
			</form>
		</div>
        <!-- Fin boutton -->
        
        
        
         
        
        <!-- notification -->
        <div   class="al"  {% if message %}
             style="display: block"
             {% endif %}
             
             
             >
	
			{{message}}	
			
	</div >
        <!-- Fin notification -->
        
        
        <!-- Tableau des utilisateur -->
        <div id="listeuser">
       <table id="tabuser" >
    <tr>
       <th >Login</th> 
       <th >Nom</th>
      <th>Prenom</th>
     
      <th>Date Naissance</th>
         
      <th>Modification </th>
      <th> Suppression</th>
         <th >Ajout</th>
      
        <th>Mise à jour</th>
       
    </tr>
       {% for user in useers %}
        <tr>
            <td >{{user.login}}</td>
        <td>{{user.name}}</td>
        <td >{{user.last_name}}</td>
       
        <td >{{user.dayofbirth}}</td>
            
        <td>
           <!--active desactive droit d acces-->
            <form  method="post" action="/updatuser">
                {% if user.modif==="true" %}
                <input   name="mod"  value="false" hidden>
                <input   name="log"  value="{{user.login}}" hidden>
			<input   type="submit" name="modif"  value="desactive" >
                {% else %}
                <input   name="mod"  value="true" hidden>
                <input   name="log"  value="{{user.login}}" hidden>
                <input   type="submit" name="modif"  value="active" >
				{% endif %}
			</form>
         
        
            
            </td>
            
        <td > <form  method="post" action="/updatuser">
                {% if user.delet==="true" %}
            <input   name="del"  value="false" hidden>
                <input   name="log"  value="{{user.login}}" hidden>
			<input   type="submit" name="dele"  value="desactive" >
                {% else %}
            <input   name="del"  value="true" hidden>
                <input   name="log"  value="{{user.login}}" hidden>
                <input   type="submit" name="dele"  value="active" >
				{% endif %}
			</form>
         </td>
             <td > <form  method="post" action="/updatuser">
                {% if user.ajout==="true" %}
                 <input   name="aj"  value="false" hidden>
                <input   name="log"  value="{{user.login}}" hidden>
			<input   type="submit" name="ajou"  value="desactive" >
                {% else %}
                 <input   name="aj"  value="true" hidden>
                <input   name="log"  value="{{user.login}}" hidden>
                <input   type="submit" name="ajou"  value="active" >
				{% endif %}
			</form>
         </td>
       
        <td > <img src="/public/supprimer.jpg"  class="maj" onclick="suprim('{{user.login}}')">   </td>
       
      
        </tr>
        {% endfor %}
    
  
    </table> 
        </div>
        <!-- Fin Tableau des utilisateur -->
        
      
        <!-- Modal suppression -->
        <div  id="Modalusersp" class="modal">
	<form name="usse" method="post" action="/deleteeuser" >
				<h2> {{users.login | upper}} </h2>
				
				
				<h2>Voulez vous vraiment supprimer</h2>
                <p>Login</p>
                <input  id="id" name="id"  hidden>
                <input  id="id2" name="log"  disabled="disabled">
                <p>Nom</p>
				 <input  id="nom" name="nom"  disabled="disabled">
                <p>Preom</p>
				 <input  id="prenom" name="prenom"  disabled="disabled">
				<p>Date Naissance</p>
				<input type="date" id="date" name="date" disabled="disabled">
			
				
                <input type="submit"  id="sup"  value="Supprimer">
				
			</form>
	</div>
        <!-- Fin Modal suppression -->
        
        <script type="text/javascript" src="/public/script2.js"></script>
	</body>
</html>
