body
{
	font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #005C97;
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin: 0;
	padding: 0;
	background: url(OO-2.jpg);
	background-size: cover;
	font-family: sans-serif;
	margin-top :1%;

	}
	

	
.loginBox

{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 420px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}
h2
{
	margin: 0;
	padding: 0 0 10px;
	color: #efed40;
	text-align: center;
}

h3
{
	margin: 0;
	padding: 0 0 10px;
	color: #efed40;
	text-align: center;
}

h3:hover
{

	color: white;
}


.modal h2
{
	margin-top:-15%;
	margin: 0;
	padding: 0 0 10px;
	color: #efed40;
	text-align: center;
}
.loginBox p,
.modal p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.loginBox input,
.modal input
{
	width: 100%;
	margin-bottom: 20px;
}
.loginBox input[type="text"],
.modal input[type="text"],
.loginBox input[type="mail"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.loginBox input[type="submit"],
.modal input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #706E73;
	cursor: pointer;
	border-radius: 20px;
}
.loginBox input[type="submit"]:hover,
.modal input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.loginBox a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.new-account
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 350px;
	height: 590px;
	padding: 80px 40px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
}
.user
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}

.new-account p
{
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #fff;
}
.new-account input
{
	width: 100%;
	margin-bottom: 20px;
}
.new-account input[type="text"],
.new-account input[type="mail"],
.new-account input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
::placeholder
{
	color: rgba(255,255,255,.5);
}
.new-account input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #706E73;
	cursor: pointer;
	border-radius: 20px;
}
.new-account input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}
.new-account a
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

.submit input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #706E73;
	cursor: pointer;
	border-radius: 20px;
	margin-left : 90%;
	margin-top : 0%;
}
.submit input[type="submit"]:hover
{
	background: #efed40;
	color: #262626;
}




.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
   text-align : center;
    
 
     /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	/*position: absolute;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 530px;
	padding: 80px 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	
}
.modal input[type="date"]{
    
    width: 210px;
    height: 15px;
    
}

.al{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
   text-align : center;
    color:white;
 
     /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	/*position: absolute;*/
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 320px;
	height: 130px;
	padding: 80px 20px;
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	
}
#calendar table{
  background-color: gray;
  width:1498px;
  height : 200px;
  margin-left:auto;
  margin-right: auto;
  
  
}

#tabeven{
    margin-top: ;
  background-color: gray;
  width:1498px;
  height : 200px;
  margin-left:auto;
  margin-right: auto;
  border:1px solid black;
  
  
}

#tabeven tr{
  border: 1px black;
  width:15px;
  height : 30px;
  background-color: white;
  text-align : center;

}

#tabeven th{
  border: 1px black;
  width:15px;
  height : 18px;
  background-color: lightblue;
  text-align : center;

}

#tabuser{
    margin-top: ;
  background-color: gray;
  width:1498px;
  height : 200px;
  margin-left:auto;
  margin-right: auto;
  border:1px solid black;
  
  
}

#tabuser tr{
  border: 1px black;
  width:15px;
  height : 30px;
  background-color: white;
  text-align : center;

}

#tabuser th{
  border: 1px black;
  width:75px;
  height : 18px;
  background-color: lightblue;
  text-align : center;

}

#tabuser td{
  border: 1px darkgray;
  width:75px;
  height : 18px;
  text-align : center;

}


#calendar tr{
  border: 1px darkgray;
  width:25px;
  height : 30px;
  background-color: white;
  text-align : center;

}

#calendar {
 
 width:1520px;
  height :650px;
  margin-left:auto;
  margin-right: auto;
overflow-y: scroll;
}


#listeev {
 
 width:1520px;
  height :610px;
  margin-left:auto;
  margin-right: auto;
overflow-y: scroll;
}

#listeuser {
 
 width:1520px;
  height :610px;
  margin-left:auto;
  margin-right: auto;
overflow-y: scroll;
}

.eventdragmodel {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.heure{
  text-align : center;
  width:15px;
  height : 30px;
  background-color: #bcbcb1;
}

.date{
  text-align : center;
  width:20px;
  height : 10px;
  background-color: #bcbcb1;
}

.zero{
  text-align : center;
  width:15px;
  height : 10px;
  background-color: black;
}
#calendar td.evenement{
  text-align : center;
  width:90px;
  height : 78px;
}

#dete {
	
	 text-align : center;
  color:white;
  font-size:35px;
}

#today {
	
	 text-align : center;
  color:white;
  font-size:15px;
    margin-left: 83%;
    margin-top: -1%;
}

#bout {
	border:black;
	 margin-left:30%;
  margin-right: auto;
  border-radius: 20%;
}
#prev {
	 position: absolute;
 top: 50px;
 left: 494px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);
 border-radius:0.5em;
 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 100px 10px 10px 100px;
	
}
#next {
	
	  position: absolute;
 top: 50px;
 left: 950px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);
 border-radius:0.5em;
 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 100px 100px 10px;
	 
    
}

#next:hover
{
	background:#bcbcb1;
	color: #262626;
}

#prev:hover
{
	background: #bcbcb1;
	color: #262626;
}
/******/
td.selected {
    background-color: #a3a09b;
}

#deconnexion
{
display:none	
	
}




#liste {
	display:none;	
	  position: absolute;
 top: 50px;
 left: 1047px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);

 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 10px 10px 10px;
	 
    
}

#calend {
	
	  position: absolute;
 top: 50px;
 left: 1100px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);

 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 10px 10px 10px;
	 
    
}


#use {
	
	  position: absolute;
 top: 50px;
 left: 200px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);

 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 10px 10px 10px;
	 
    
}


#utilisateur {
	
	  position: absolute;
 top: 50px;
 left: 200px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);

 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 10px 10px 10px;
	 
    
}


#liste:hover
{
	background:#bcbcb1;
	color: #262626;
}
#calend:hover
{
	background:#bcbcb1;
	color: #262626;
}

#use:hover
{
	background:#bcbcb1;
	color: #262626;
}


#utilisateur:hover
{
	background:#bcbcb1;
	color: #262626;
}

#sup{
  
  border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #706E73;
	cursor: pointer;
	border-radius: 20px;
	margin-left : 0%;
	margin-top : 0%;
    text-align: center;
 
}

#sup:hover
{
	background: red;
	color: white;
}

#toutliste {
	display:none;	
	  position: absolute;
 top: 50px;
 left: 255px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);

 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 10px 10px 10px;
	 
    
}

#toutliste:hover
{
	background:#bcbcb1;
	color: #262626;
}

#nvadmin {
	display:none;	
	  position: absolute;
 top: 50px;
 left: 15px;
 padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
   inset 0 1px 0 rgba(255,255,255,0.3),
   inset 0 10px 10px rgba(255,255,255,0.9);

 background:gray;
 color:white;
 font-weight:bold;
 cursor:pointer;
 font-size:25px;
	 border-radius: 10px 10px 10px 10px;
	 
    
}

#nvadmin:hover
{
	background:#bcbcb1;
	color: #262626;
}

.maj
{
	width: 30px;
	height: 40px;
	border-radius: 50%;
	
}

